<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/css/Site.css" rel="stylesheet" />
    <title>Chat en MVC</title>
</head>
<body>
    <nav class="customNav">
        <h1>Chat en MVC</h1>
    </nav>
    <main class="mainBody" role="main">
        @RenderBody()
    </main>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
