@using PruebaChatMVC.Dto
@using PruebaChatMVC.ViewModel;
@model ChatsViewModel;
<section>
    <aside>
        <ul>
            @foreach (ChatDto chat in Model.Chats)
            {
                <li>
                    <form>
                        <input type="hidden" value="@chat.IdChat" />
                        <input type="hidden" value="@chat.TypeOfChat" />
                        <input type="hidden" value="@chat.ChatName" />
                        <button type="submit">@chat.ChatName</button>
                    </form>
                </li>
            }
        </ul>
    </aside>
    <section>
    </section>
</section>