@using PruebaChatMVC.Dto
@using PruebaChatMVC.ViewModel;
@model ChatsViewModel;
<section class="ChatBody">
    <aside class="ChatsAvailableAside">
        <ul class="ListOfChats">
            @foreach (ChatDto chat in Model.Chats)
            {
                <li class="Chat">
                    <form asp-action="ChatMessages"
                          asp-controller="Home"
                          data-IdChat="@chat.IdChat"
                          data-IdTypeOfChat="@((int)chat.TypeOfChat)"
                          data-ChatName="@chat.ChatName">
                        <button type="submit">@chat.ChatName</button>
                    </form>
                </li>
            }
        </ul>
    </aside>
    <section class="MessagesBody">
    </section>
</section>
<script type="text/javascript" src="~/js/signalr/dist/browser/signalr.js"></script>
<script type="module" src="~/js/Index.js"></script>