@using PruebaChatMVC.Dto
@using PruebaChatMVC.ViewModel;
@model ChatsViewModel;
<section class="ChatBody">
    <aside class="ChatsAvailableAside">
        <ul class="ListOfChats">
            @foreach (ChatDto chat in Model.Chats)
            {
                <li class="Chat">
                    <form asp-action="ChatMessages" asp-controller="Home">
                        <input type="hidden" name="IdChat" value="@chat.IdChat" />
                        <input type="hidden" name="TypeOfChat" value="@((int)chat.TypeOfChat)" />
                        <input type="hidden" name="ChatName" value="@chat.ChatName" />
                        <button type="submit">@chat.ChatName</button>
                    </form>
                </li>
            }
        </ul>
    </aside>
    <section class="MessagesBody">
    </section>
</section>
<script type="text/javascript" src="~/js/Index.js"></script>