@model string;
<input type="hidden" value="@Model" />
<div class="message-show">

</div>
<form class="input-message">
    <input type="text" placeholder="Hola mundo" />
    <button type="submit">Enviar mensaje</button>
</form>
