@model string;
<input type="hidden" value="@Model" />
<div class="message-show">
    <button class="close">&times;</button>
    <ul class="lista-mensajes">
    </ul>
</div>
<form class="input-message">
    <input type="text" placeholder="Escriba el mensaje a enviar" />
    <button type="submit">Enviar mensaje</button>
</form>