@model string
<input type="hidden" value="@Model" id="userName" />
<nav class="connected-nav">
    <ul id="lista-conectados">
    </ul>
</nav>
<div class="message-body">
    <div class="message-show">
        <ul class="lista-mensajes">
        </ul>
    </div>
    <form class="input-message">
        <input type="text" placeholder="Escriba el mensaje a enviar" />
        <button type="submit">Enviar mensaje</button>
    </form>
</div>
<script type="text/javascript">
    const url = "@Url.Action("MensajesChat","Home")";
</script>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="/js/Chat.js"></script>