* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*border: 1px solid black;*/
}

body {
    background: linear-gradient(34deg, rgba(55,6,111,0.896796218487395) 0%, rgba(197,13,237,0.8295693277310925) 50%, rgba(255,164,36,0.8631827731092436) 100%);
    background-attachment: fixed;
}

.custom-nav {
    width: 100%;
    height: 100px;
    background-color: #607AFF;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

    .custom-nav h1 {
        display: flex;
        height: 100%;
        justify-content: flex-start;
        align-items: center;
        padding: 3rem;
        color: azure;
        font-size: 50px;
        font-family: 'Noto Sans JP', sans-serif;
    }

    .custom-nav select {
        width: 200px;
        height: 40px;
        border-radius: 10px;
        border: none;
        background-color: snow;
        padding: 10px;
    }

.cuerpo-LogIn {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .cuerpo-LogIn .log-in {
        width: 300px;
        height: 360px;
        border-radius: 20px;
        background-color: rgb(236 240 241 / 0.75);
        position: relative;
        z-index: 1;
        padding-top: 20px;
    }

        .cuerpo-LogIn .log-in .seleccion-log-reg {
            height: 15%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            position: relative;
            z-index: 1;
        }

            .cuerpo-LogIn .log-in .seleccion-log-reg .selecter {
                position: absolute;
                height: 80%;
                width: 7rem;
                background: linear-gradient(270deg, rgba(218,99,2,1) 26%, rgba(162,3,210,0.989233193277311) 50%, rgba(77,252,227,1) 85%);
                border-radius: 20px;
                left: 12%;
                transition: 0.5s;
            }

            .cuerpo-LogIn .log-in .seleccion-log-reg .options-area {
                width: 217px;
                height: 80%;
                display: flex;
                justify-content: space-around;
                border-radius: 20px;
                align-items: center;
                background-color: rgb(248 248 255 / 0.35);
                z-index: 1;
            }

                .cuerpo-LogIn .log-in .seleccion-log-reg .options-area span {
                    width: 5rem;
                    height: 1.5rem;
                    text-align: center;
                    color: #FBFCFC;
                    cursor: pointer;
                    border: none;
                    background-color: transparent;
                    padding: 0.2rem;
                }

        .cuerpo-LogIn .log-in .data-inser-sect {
            height: 85%;
            display: flex;
            justify-content: center;
            align-content: center;
            flex-direction: row;
            overflow: hidden;
        }

            .cuerpo-LogIn .log-in .data-inser-sect form {
                min-width: 100%;
                position: relative;
            }

            .cuerpo-LogIn .log-in .data-inser-sect .datos-log {
                left: 50%;
                display: flex;
                flex-direction: column;
                padding: 0.5rem;
                align-items: center;
            }

                .cuerpo-LogIn .log-in .data-inser-sect .datos-log > h2 {
                    color: aliceblue;
                    text-align: center;
                    font-family: 'Noto Sans JP', sans-serif;
                    margin-bottom: 10px;
                }

.input-zone {
    display: flex;
    flex-direction: row;
    font-family: 'Noto Sans JP', sans-serif;
    height: 30px;
    width: 100%;
}

    .input-zone input[type="text"], .input-zone input[type="password"] {
        width: 65%;
        border: none;
        padding: 10px;
        border-radius: 0px 20px 20px 0px;
        height: 100%;
    }

    .input-zone .title {
        width: 35%;
        font-size: 75%;
        text-align: center;
        align-content: center;
        background-color: rgb(245 245 245 / 0.60);
        border-radius: 20px 0px 0px 20px;
        padding: 2% 0% 2% 0%;
        border: 1px solid #A9A9A9;
        color: #696969;
        height: 100%;
    }

.cuerpo-LogIn .log-in .data-inser-sect .datos-log .errorSpan {
    color: red;
    font-size: 15px;
    width: 100%;
    margin-bottom: 5px;
    text-align: center;
    text-decoration: dashed;
    font-family: 'Noto Sans JP', sans-serif;
    padding: 10px;
    list-style: circle;
}

.cuerpo-LogIn .log-in .data-inser-sect .datos-log button {
    border: none;
    width: 50%;
    height: 30px;
    border-radius: 10px;
    background-color: rgb(255 250 250 / 0.60);
    color: #696969;
    cursor: pointer;
}

.cuerpo-LogIn .log-in .data-inser-sect .datos-regist {
    left: 100%;
}
/**************Private page*******************/

.Text-title {
    color: snow;
    padding: 5px 0px 5px 15px;
    font-family: 'Noto Sans JP', sans-serif;
    position: sticky;
    width: 140px;
}

    .Text-title p {
        width: 12%;
    }

.connected-nav {
    width: 140px;
    height: 90%;
    position: fixed;
    background-color: #1A2F9B;
}

    .connected-nav ul {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 1rem;
        font-family: 'Noto Sans JP', sans-serif;
        flex-direction: column;
        overflow: auto;
    }

        .connected-nav ul li {
            list-style: none;
            border: 1px solid transparent;
            background-color: #DD8EEB;
            width: 80px;
            text-align: center;
            min-height: 3.6rem;
            border-radius: 5px;
            cursor: pointer;
            box-shadow: 7px 4px 8px #555454, 0px -4px 8px #6c6b6b;
            color: snow;
            padding: 15%;
            font-size: 15px;
            word-break: break-all;
            margin-bottom: 1.5rem;
        }
/*******Cuerpo del chat***/
.message-body {
    position: fixed;
    width: 95%;
    height: 90%;
    background-color: rgb(236 240 241 / 0.30);
    top: 100px;
    left: 140px;
    display: flex;
    flex-direction: column;
}

    .message-body .message-show {
        width: 815px;
        height: 90%;
        background-color: #ccbbbb82;
        border: 1.5px solid #060606;
    }

        .message-body .message-show .close {
            clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
            color: transparent;
            background-color: red;
            border: none;
            cursor: pointer;
            width: 20px;
            height: 20px;
            position: fixed;
            right: 20px;
            top: 110px;
        }

/*            .message-body .message-show .close:hover {
                transform: translateY(-3px);
                box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
            }*/

    .message-body .input-message {
        display: flex;
        width: 815px;
        height: 10%;
        font-family: 'Noto Sans JP', sans-serif;
        justify-content: center;
        align-items: center;
        background-color: #6A82FF;
        padding: 5px;
    }

        .message-body .input-message input[type="text"] {
            width: 70%;
            height: 70%;
            border: none;
            padding: 20px;
            font-size: 20px;
            border-radius: 5px 0px 0px 5px;
        }

        .message-body .input-message button {
            width: 20%;
            height: 70%;
            border: none;
            border-radius: 0px 5px 5px 0px;
            cursor: pointer;
            font-size: 15px;
            background-color: #2a7c97;
            color: snow;
        }
    /***********Esto va en la seccion de lista de mensajes***********/
    .message-body .message-show .lista-mensajes {
        padding: 20px;
        display: flex;
        flex-direction: column;
        list-style: none;
        overflow: auto;
    }

        .message-body .message-show .lista-mensajes li {
            border-radius: 20px;
            display: flex;
            margin: 10px;
            width: 60%;
            height: 40px;
            max-height: 500px;
            padding: 1.2%;
            justify-content: space-around;
            align-items: center;
            position: relative;
            color: aliceblue;
            font-family: 'Noto Sans JP', sans-serif;
        }

            .message-body .message-show .lista-mensajes li .message-section {
                width: 70%;
            }

            .message-body .message-show .lista-mensajes li .time-section {
                width: 30%;
                font-size: 10px;
                height: 100%;
                text-align: center;
                padding: 12px 10px 0 0;
            }

        .message-body .message-show .lista-mensajes .message-recive {
            flex-direction: row-reverse;
            left: 40%;
            background-color: #c792eb;
        }

        .message-body .message-show .lista-mensajes .message-send {
            flex-direction: row;
            background-color: #4996e1;
        }

            .message-body .message-show .lista-mensajes .message-send .message-section {
                padding-left: 10px;
                display: flex;
                word-wrap: break-word;
                align-items: center;
            }

        .message-body .message-show .lista-mensajes .message-recive .message-section {
            display: flex;
            flex-direction: row-reverse;
            padding-right: 10px;
            word-wrap: break-word;
        }

            .message-body .message-show .lista-mensajes .message-recive .message-section span {
                margin-left: 10px;
                background-color: rgb(8 226 180 / 0.16);
                border-radius: 0 20px 20px 0;
                padding: 0 10px 0 10px;
            }

        .message-body .message-show .lista-mensajes .message-send .message-section span {
            margin-right: 10px;
            background-color: rgb(8 226 180 / 0.16);
            border-radius: 20px 0 0 20px;
            padding: 0 10px 0 10px;
            max-height: 26px;
        }

.connected-nav ul li .notificado-mensaje {
    width: 20px;
    background-color: red;
    height: 20px;
    position: absolute;
    border-radius: 20px;
    top: 20px;
    left: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}
